html,
body {
  height: 100%;
  width: 100%;
  background-color: #b0b0b0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4120%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M95.62 549.29L143.26 576.79L143.26 631.79L95.62 659.29L47.99 631.79L47.99 576.79zM143.26 136.79L190.89 164.29L190.89 219.29L143.26 246.79L95.62 219.29L95.62 164.29zM190.89 219.29L238.52 246.79L238.52 301.79L190.89 329.29L143.26 301.79L143.26 246.79zM143.26 301.79L190.89 329.29L190.89 384.29L143.26 411.79L95.62 384.29L95.62 329.29zM238.52 796.79L286.15 824.29L286.15 879.29L238.52 906.79L190.89 879.29L190.89 824.29zM333.79 -28.21L381.42 -0.71L381.42 54.29L333.79 81.79L286.15 54.29L286.15 -0.71zM381.42 879.29L429.05 906.79L429.05 961.79L381.42 989.29L333.79 961.79L333.79 906.79zM381.42 1044.29L429.05 1071.79L429.05 1126.79L381.42 1154.29L333.79 1126.79L333.79 1071.79zM476.68 219.29L524.32 246.79L524.32 301.79L476.68 329.29L429.05 301.79L429.05 246.79zM429.05 631.79L476.68 659.29L476.68 714.29L429.05 741.79L381.42 714.29L381.42 659.29zM524.32 136.79L571.95 164.29L571.95 219.29L524.32 246.79L476.68 219.29L476.68 164.29zM571.95 549.29L619.58 576.79L619.58 631.79L571.95 659.29L524.32 631.79L524.32 576.79zM571.95 879.29L619.58 906.79L619.58 961.79L571.95 989.29L524.32 961.79L524.32 906.79zM667.22 384.29L714.85 411.79L714.85 466.79L667.22 494.29L619.58 466.79L619.58 411.79zM667.22 1044.29L714.85 1071.79L714.85 1126.79L667.22 1154.29L619.58 1126.79L619.58 1071.79zM762.48 384.29L810.11 411.79L810.11 466.79L762.48 494.29L714.85 466.79L714.85 411.79zM714.85 796.79L762.48 824.29L762.48 879.29L714.85 906.79L667.22 879.29L667.22 824.29zM762.48 1044.29L810.11 1071.79L810.11 1126.79L762.48 1154.29L714.85 1126.79L714.85 1071.79zM810.11 631.79L857.75 659.29L857.75 714.29L810.11 741.79L762.48 714.29L762.48 659.29zM905.38 796.79L953.01 824.29L953.01 879.29L905.38 906.79L857.75 879.29L857.75 824.29zM1048.28 879.29L1095.91 906.79L1095.91 961.79L1048.28 989.29L1000.64 961.79L1000.64 906.79zM1000.64 961.79L1048.28 989.29L1048.28 1044.29L1000.64 1071.79L953.01 1044.29L953.01 989.29zM1095.91 -28.21L1143.54 -0.71L1143.54 54.29L1095.91 81.79L1048.28 54.29L1048.28 -0.71zM1095.91 301.79L1143.54 329.29L1143.54 384.29L1095.91 411.79L1048.28 384.29L1048.28 329.29zM1143.54 549.29L1191.18 576.79L1191.18 631.79L1143.54 659.29L1095.91 631.79L1095.91 576.79zM1095.91 631.79L1143.54 659.29L1143.54 714.29L1095.91 741.79L1048.28 714.29L1048.28 659.29zM1143.54 714.29L1191.18 741.79L1191.18 796.79L1143.54 824.29L1095.91 796.79L1095.91 741.79zM1191.18 -28.21L1238.81 -0.71L1238.81 54.29L1191.18 81.79L1143.54 54.29L1143.54 -0.71zM1191.18 136.79L1238.81 164.29L1238.81 219.29L1191.18 246.79L1143.54 219.29L1143.54 164.29zM1238.81 549.29L1286.44 576.79L1286.44 631.79L1238.81 659.29L1191.18 631.79L1191.18 576.79zM1429.34 54.29L1476.97 81.79L1476.97 136.79L1429.34 164.29L1381.71 136.79L1381.71 81.79zM1429.34 549.29L1476.97 576.79L1476.97 631.79L1429.34 659.29L1381.71 631.79L1381.71 576.79zM1381.71 631.79L1429.34 659.29L1429.34 714.29L1381.71 741.79L1334.07 714.29L1334.07 659.29zM1524.61 549.29L1572.24 576.79L1572.24 631.79L1524.61 659.29L1476.97 631.79L1476.97 576.79zM1619.87 714.29L1667.5 741.79L1667.5 796.79L1619.87 824.29L1572.24 796.79L1572.24 741.79zM1715.14 219.29L1762.77 246.79L1762.77 301.79L1715.14 329.29L1667.5 301.79L1667.5 246.79zM1667.5 301.79L1715.14 329.29L1715.14 384.29L1667.5 411.79L1619.87 384.29L1619.87 329.29zM1715.14 384.29L1762.77 411.79L1762.77 466.79L1715.14 494.29L1667.5 466.79L1667.5 411.79zM1810.4 219.29L1858.03 246.79L1858.03 301.79L1810.4 329.29L1762.77 301.79L1762.77 246.79zM1762.77 961.79L1810.4 989.29L1810.4 1044.29L1762.77 1071.79L1715.14 1044.29L1715.14 989.29zM1858.03 301.79L1905.67 329.29L1905.67 384.29L1858.03 411.79L1810.4 384.29L1810.4 329.29zM1905.67 384.29L1953.3 411.79L1953.3 466.79L1905.67 494.29L1858.03 466.79L1858.03 411.79zM1858.03 466.79L1905.67 494.29L1905.67 549.29L1858.03 576.79L1810.4 549.29L1810.4 494.29zM1905.67 879.29L1953.3 906.79L1953.3 961.79L1905.67 989.29L1858.03 961.79L1858.03 906.79zM1953.3 -28.21L2000.93 -0.71L2000.93 54.29L1953.3 81.79L1905.67 54.29L1905.67 -0.71zM1953.3 301.79L2000.93 329.29L2000.93 384.29L1953.3 411.79L1905.67 384.29L1905.67 329.29zM2000.93 549.29L2048.57 576.79L2048.57 631.79L2000.93 659.29L1953.3 631.79L1953.3 576.79zM2000.93 879.29L2048.57 906.79L2048.57 961.79L2000.93 989.29L1953.3 961.79L1953.3 906.79z' stroke='url(%23SvgjsLinearGradient4121)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2.27 171.78L67.22 209.28L67.22 284.28L2.27 321.78L-62.68 284.28L-62.68 209.28zM2.27 1071.78L67.22 1109.28L67.22 1184.28L2.27 1221.78L-62.68 1184.28L-62.68 1109.28zM197.13 59.28L262.08 96.78L262.08 171.78L197.13 209.28L132.18 171.78L132.18 96.78zM197.13 509.28L262.08 546.78L262.08 621.78L197.13 659.28L132.18 621.78L132.18 546.78zM197.13 734.28L262.08 771.78L262.08 846.78L197.13 884.28L132.18 846.78L132.18 771.78zM197.13 959.28L262.08 996.78L262.08 1071.78L197.13 1109.28L132.18 1071.78L132.18 996.78zM456.95 59.28L521.9 96.78L521.9 171.78L456.95 209.28L391.99 171.78L391.99 96.78zM456.95 734.28L521.9 771.78L521.9 846.78L456.95 884.28L391.99 846.78L391.99 771.78zM456.95 959.28L521.9 996.78L521.9 1071.78L456.95 1109.28L391.99 1071.78L391.99 996.78zM521.9 396.78L586.85 434.28L586.85 509.28L521.9 546.78L456.95 509.28L456.95 434.28zM521.9 846.78L586.85 884.28L586.85 959.28L521.9 996.78L456.95 959.28L456.95 884.28zM586.85 959.28L651.81 996.78L651.81 1071.78L586.85 1109.28L521.9 1071.78L521.9 996.78zM716.76 59.28L781.72 96.78L781.72 171.78L716.76 209.28L651.81 171.78L651.81 96.78zM781.71 -53.22L846.67 -15.72L846.67 59.28L781.71 96.78L716.76 59.28L716.76 -15.72zM846.67 59.28L911.62 96.78L911.62 171.78L846.67 209.28L781.71 171.78L781.71 96.78zM846.67 284.28L911.62 321.78L911.62 396.78L846.67 434.28L781.71 396.78L781.71 321.78zM781.71 396.78L846.67 434.28L846.67 509.28L781.71 546.78L716.76 509.28L716.76 434.28zM846.67 959.28L911.62 996.78L911.62 1071.78L846.67 1109.28L781.71 1071.78L781.71 996.78zM911.62 396.78L976.58 434.28L976.58 509.28L911.62 546.78L846.67 509.28L846.67 434.28zM1041.53 -53.22L1106.48 -15.72L1106.48 59.28L1041.53 96.78L976.58 59.28L976.58 -15.72zM1106.48 509.28L1171.44 546.78L1171.44 621.78L1106.48 659.28L1041.53 621.78L1041.53 546.78zM1041.53 846.78L1106.48 884.28L1106.48 959.28L1041.53 996.78L976.58 959.28L976.58 884.28zM1106.48 959.28L1171.44 996.78L1171.44 1071.78L1106.48 1109.28L1041.53 1071.78L1041.53 996.78zM1041.53 1071.78L1106.48 1109.28L1106.48 1184.28L1041.53 1221.78L976.58 1184.28L976.58 1109.28zM1171.44 -53.22L1236.39 -15.72L1236.39 59.28L1171.44 96.78L1106.48 59.28L1106.48 -15.72zM1236.39 59.28L1301.34 96.78L1301.34 171.78L1236.39 209.28L1171.44 171.78L1171.44 96.78zM1236.39 509.28L1301.34 546.78L1301.34 621.78L1236.39 659.28L1171.44 621.78L1171.44 546.78zM1171.44 621.78L1236.39 659.28L1236.39 734.28L1171.44 771.78L1106.48 734.28L1106.48 659.28zM1301.35 -53.22L1366.3 -15.72L1366.3 59.28L1301.35 96.78L1236.39 59.28L1236.39 -15.72zM1366.3 59.28L1431.25 96.78L1431.25 171.78L1366.3 209.28L1301.35 171.78L1301.35 96.78zM1366.3 734.28L1431.25 771.78L1431.25 846.78L1366.3 884.28L1301.35 846.78L1301.35 771.78zM1366.3 959.28L1431.25 996.78L1431.25 1071.78L1366.3 1109.28L1301.35 1071.78L1301.35 996.78zM1431.25 -53.22L1496.21 -15.72L1496.21 59.28L1431.25 96.78L1366.3 59.28L1366.3 -15.72zM1496.21 284.28L1561.16 321.78L1561.16 396.78L1496.21 434.28L1431.25 396.78L1431.25 321.78zM1431.25 396.78L1496.21 434.28L1496.21 509.28L1431.25 546.78L1366.3 509.28L1366.3 434.28zM1496.21 509.28L1561.16 546.78L1561.16 621.78L1496.21 659.28L1431.25 621.78L1431.25 546.78zM1496.21 959.28L1561.16 996.78L1561.16 1071.78L1496.21 1109.28L1431.25 1071.78L1431.25 996.78zM1561.16 171.78L1626.11 209.28L1626.11 284.28L1561.16 321.78L1496.21 284.28L1496.21 209.28zM1626.11 734.28L1691.07 771.78L1691.07 846.78L1626.11 884.28L1561.16 846.78L1561.16 771.78zM1691.07 -53.22L1756.02 -15.72L1756.02 59.28L1691.07 96.78L1626.11 59.28L1626.11 -15.72zM1756.02 59.28L1820.97 96.78L1820.97 171.78L1756.02 209.28L1691.07 171.78L1691.07 96.78zM1756.02 284.28L1820.97 321.78L1820.97 396.78L1756.02 434.28L1691.07 396.78L1691.07 321.78zM1691.07 621.78L1756.02 659.28L1756.02 734.28L1691.07 771.78L1626.11 734.28L1626.11 659.28zM1691.07 1071.78L1756.02 1109.28L1756.02 1184.28L1691.07 1221.78L1626.11 1184.28L1626.11 1109.28zM1885.93 59.28L1950.88 96.78L1950.88 171.78L1885.93 209.28L1820.97 171.78L1820.97 96.78zM1820.97 171.78L1885.93 209.28L1885.93 284.28L1820.97 321.78L1756.02 284.28L1756.02 209.28zM1885.93 734.28L1950.88 771.78L1950.88 846.78L1885.93 884.28L1820.97 846.78L1820.97 771.78z' stroke='rgba(1%2c 21%2c 70%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M12.12 253.71L90.06 298.71L90.06 388.71L12.12 433.71L-65.82 388.71L-65.82 298.71zM90.06 658.71L168.01 703.71L168.01 793.71L90.06 838.71L12.12 793.71L12.12 703.71zM245.95 658.71L323.9 703.71L323.9 793.71L245.95 838.71L168.01 793.71L168.01 703.71zM401.84 118.71L479.79 163.71L479.79 253.71L401.84 298.71L323.9 253.71L323.9 163.71zM401.84 928.71L479.79 973.71L479.79 1063.71L401.84 1108.71L323.9 1063.71L323.9 973.71zM479.79 -16.29L557.73 28.71L557.73 118.71L479.79 163.71L401.84 118.71L401.84 28.71zM557.73 118.71L635.68 163.71L635.68 253.71L557.73 298.71L479.79 253.71L479.79 163.71zM479.79 253.71L557.73 298.71L557.73 388.71L479.79 433.71L401.84 388.71L401.84 298.71zM869.51 388.71L947.45 433.71L947.45 523.71L869.51 568.71L791.57 523.71L791.57 433.71zM947.45 523.71L1025.4 568.71L1025.4 658.71L947.45 703.71L869.51 658.71L869.51 568.71zM947.45 1063.71L1025.4 1108.71L1025.4 1198.71L947.45 1243.71L869.51 1198.71L869.51 1108.71zM1259.23 -16.29L1337.18 28.71L1337.18 118.71L1259.23 163.71L1181.29 118.71L1181.29 28.71zM1337.18 388.71L1415.12 433.71L1415.12 523.71L1337.18 568.71L1259.23 523.71L1259.23 433.71zM1415.12 253.71L1493.07 298.71L1493.07 388.71L1415.12 433.71L1337.18 388.71L1337.18 298.71zM1648.95 658.71L1726.9 703.71L1726.9 793.71L1648.95 838.71L1571.01 793.71L1571.01 703.71zM1571.01 1063.71L1648.95 1108.71L1648.95 1198.71L1571.01 1243.71L1493.07 1198.71L1493.07 1108.71zM1804.84 118.71L1882.79 163.71L1882.79 253.71L1804.84 298.71L1726.9 253.71L1726.9 163.71zM1804.84 388.71L1882.79 433.71L1882.79 523.71L1804.84 568.71L1726.9 523.71L1726.9 433.71zM1882.79 523.71L1960.73 568.71L1960.73 658.71L1882.79 703.71L1804.84 658.71L1804.84 568.71zM1882.79 793.71L1960.73 838.71L1960.73 928.71L1882.79 973.71L1804.84 928.71L1804.84 838.71zM1960.73 928.71L2038.68 973.71L2038.68 1063.71L1960.73 1108.71L1882.79 1063.71L1882.79 973.71z' stroke='rgba(0%2c 85%2c 242%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4120'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='210.048' y1='-209.95200000000003' x2='1709.9520000000002' y2='1289.952' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient4121'%3e%3cstop stop-color='rgba(9%2c 45%2c 82%2c 1)' offset='0.13'%3e%3c/stop%3e%3cstop stop-color='rgba(169%2c 0%2c 228%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size:cover;
  background-repeat: no-repeat;
  color:ivory;
}

.bg-dark2 {
  background-color: rgb(35, 35, 35);
  box-shadow: 2px 4px 2px rgb(68, 68, 68);
  backdrop-filter: blur(2px);
  color: ivory;
}

.bg-light2 {
  background-color: rgb(180, 180, 180);
}

p.reply-foot {
  font-size: 0.8em;
  font-weight: 500;
}

.nav-user {
  font-size: 0.9em;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.txt-sz {
  font-size: 1.15em;
}

.btn-zoom {
  transition: transform .25s;
  /* Animation */
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.btn-zoom:hover {
  transform: scale(1.08);
}

.div-zoom {
  transition: transform .08s;
  /* Animation */
  transition-timing-function: linear;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background: linear-gradient(transparent,rgb(231, 231, 231)) top/100% 800%;
}

.div-zoom:hover {
  transform: scale(1.025);
  font-size: 1.025em;
  background-position:bottom;
}

.post-list-container {
  transition: transform 0.08s;
  transition-timing-function: linear;
}

.post-list-container:hover {
  background-position:top;
  transform: scale(1.015);
  font-size: 1.015em;
  box-shadow: 2px 2px 2px rgb(199, 199, 207);
}

.highlight-elem {
  transition: transform 0.08s;
  transition-timing-function: linear;
  border: 2px solid white;
  border-right-style: hidden;
  border-top-style: hidden;
}

.highlight-elem:hover {
  background-position:top;
  transform: scale(1.025);
  border-style: none;
  font-size: 1.015em;
  box-shadow: 0 0 1px 3px rgb(228, 228, 234);
}

.highlight-elem-focus {
  background-position:top;
  font-size: 1.015em;
  border: 3px solid rgb(255, 153, 0);
  border-right-style: hidden;
  border-top-style: hidden;
}

.btn-login {
  padding: 5px;
  height: 100px;
  width: 200px;
}

.comment-box {
  height: 800px;

}

.profile-img {
  width: 100%;
  max-width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  position: relative;
}

#results_container {
  opacity: 1;
  transition: opacity 2s;
}

#results_container.hide {
  opacity: 0;
}

.card-results {
  background-color: rgb(255, 255, 255);
}

.team-banner {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.team-name {
  display: inline-block;
}

/* Styles required only for the example above */
.scrollspy-example {
  position: absolute;
  height: 500px;
  overflow: auto;
}

.fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position:absolute;
  width: auto;
  height: auto;
  overflow: auto;
}

.comment-form {
  display: none;
}

.reply-form{
  background-color: rgb(26, 26, 26);
  color: white;
  height: 16px;
  border: 2px solid white;
  border-width: 0 0 1px 1px;
  border-radius: 2px;
}

.reply-form:focus{
  background-color: rgb(26, 26, 26);
  color: white;
  border: 2px solid white;
  border-width: 0 0 2px 2px;
  box-shadow: 0 0 0 0 white;
}

.custom-btn {
  padding: 13px 25px;
  border: 2px solid ivory;
  border-top-style: hidden;
  border-left-style: hidden;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background-color:ivory;
}

.btn-15 {
 background: rgb(62, 62, 62);
 color: ivory;
 z-index: 1;
}
.btn-15:after {
 position: absolute;
 content: "";
 width: 0;
 height: 100%;
 top: 0;
 right: 0;
 z-index: -1;
 background: ivory;
 transition: all 0.3s ease;
}
.btn-15-warning:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: rgb(232, 131, 9);
  transition: all 0.3s ease;
 }

 .btn-15-danger:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: rgb(224, 37, 37);
  transition: all 0.3s ease;
 }
 
.btn-15:hover {
 color: #000;
 box-shadow: 4px 4px 3px rgb(7, 7, 7);
 transform: scale(1.025)
}
.btn-15:hover:after {
 left: 0;
 width: 100%;
}
.btn-15:active {
 top: 2px;
}


.comment-container {
  display: none;
  position: relative;
}

.comment__container {
  display: none;
  position: relative;
}

.comment-container.opened {
  display: block;
}



a{
  color: rgb(35, 235, 255);
}