{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Sign up!{% endblock title %}
{% block content %}
<div class="p-3 px-5 container">
  <div class="row bg-dark2 border border-secondary">
    <div class="px-3 py-2 px-md-5 py-md-4">
      <h1>Sign up!</h1>
      <div class="py-3">
        <form method="POST" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input class="btn btn-primary" type="submit" value="Sign up!" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
